@import 'https://fonts.googleapis.com/css?family=Lato|Roboto'

$font-stack: 'Lato', sans-serif


// Font variables

// Farver
$bg: rgba(40, 75, 99, 0.8)
$green: #86bb71
$coral: #e38968
$blue: #94c2ed
$dark-blue: #444753
$grey: #d8dadf
$white: #f2f5f8

$fbcolor: #3a5a98
$twcolor: #55acee
