<% include head.ejs %>

    <div class="container clearfix">
      <div class="chat">
        <div class="chat-header clearfix">
			<!-- Find billede i user -> picture -->
          <img src="<%= user.picture %>" alt="profil-picture">
          <div class="chat-about">
            <div class="chat-room"><%= room.title %></div>
            <div class="chat-num-users"> Users</div>
          </div>
        </div> <!-- end chat-header -->

        <div class="chat-history">
          <ul>
          </ul>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
          <textarea name="message" placeholder ="Type your message" rows="3"></textarea>
          <button type="submit">Send</button>
        </div> <!-- end chat-message -->
      </div> <!-- end chat -->

      <div class="controls">
          <a href="/ses" class="logout-btn">Logout</a>
          <a href="/rooms" class="rooms-btn">Rooms</a>
      </div>

      <div class="users-list">
        <ul class="list">
        </ul>
      </div>
    </div> <!-- end container -->
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main-min.js"></script>

    <script>$(function(){app.chat('<%= room.id %>', '<%= user.username %>')});</script>
  </body>
</html>
